
<!-- card para telas grandes ......................................... -->
<div class="col s12 l12 hide-on-small-only">
    <div class="card horizontal">
      <div class="card-image">
        <img src="/assets/img/pets/tomas.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col l12 m3">
              <h2>Tomás<span class="right"> Rio de Janeiro - RJ</span></h2>
              <div class="divider"></div>
            </div>
          </div>
          <div class="row">
            <div class="col l2 m3">
              <h4>Espécie: </h4>
              <h5>Felino</h5>
            </div>
            <div class="col l2 m3">
              <h4>Sexo: </h4>
              <h5>Macho</h5>
            </div>
            <div class="col l2 m3">
              <h4>Idade:</h4>
              <h5>2 anos</h5>
            </div>
            <div class="col l2">
              <h4>Porte:</h4>
              <h5>pequeno</h5>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p class="truncate">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <div class="row right">
            <button class="btn">Saiba Mais</button>
          </div>
        </div>

      </div>
    </div>
    <div class="card horizontal">
      <div class="card-image">
        <img src="/assets/img/pets/shuri.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col l12">
              <h2>Shuri<span class="right"> Rio de Janeiro - RJ</span></h2>
              <div class="divider"></div>
            </div>
          </div>
          <div class="row">
            <div class="col l2">
              <h4>Espécie: </h4>
              <h5>Felino</h5>
            </div>
            <div class="col l2">
              <h4>Sexo: </h4>
              <h5>Fêmea</h5>
            </div>
            <div class="col l2">
              <h4>Idade:</h4>
              <h5>1 ano</h5>
            </div>
            <div class="col l2">
              <h4>Porte:</h4>
              <h5>pequeno</h5>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p class="truncate">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </div>
          <div class="row right">
            <button class="btn">Saiba Mais</button>
          </div>
        </div>

      </div>
    </div>



</div>

<div class="col s12 hide-on-med-and-up">
  <div class="row">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/img/pets/tomas.jpg">
        </div>
        <div class="card-content">

          <h2>Tomás <span class="badge  brown lighten-2">felino</span></h2>
          <div class="row">
            <div class="col s4 ">
              <h4>Sexo: </h4>
              <h5>Masculino</h5>
            </div>
            <div class="col s4">
              <h4>Idade:</h4>
              <h5>1 ano</h5>
            </div>
            <div class="col s4">
              <h4>Porte:</h4>
              <h5>pequeno</h5>
            </div>
          </div>
          <div class="row center">
            <button class="btn">Saiba Mais</button>
          </div>
        </div>
      </div>
  </div>
</div>
