h2 {
  font-size: 1.4em;
  font-family: 'Fredoka One';
  margin-top: 0;
  color: #4e342e;
}

h4 {
  font-size: 1em;
  color: #757575;
  margin-bottom: 0;
}

h5 {
  font-size: 1em;
  color: black;
  margin-top: 0;
  padding-top: 0;
}

.card-image img {
  height: 34vh;
  width: 34vh;
}
.card-content {
  height: 34vh;
}

.btn {
  background-color: #bf360c;
}

.btn:hover {
  background-color: #e64a19;
}
