<div class="card-panel">
  <h2>Encontre seu pet</h2>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="especie" type="text" class="validate">
          <label for="especie" class="active">Espécie</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="porte" type="text" class="validate">
          <label for="porte" class="active">Porte</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="sexo" type="text" class="validate">
          <label for="sexo" class="active">Sexo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="idade" type="text" class="validate">
          <label for="idade" class="active">Idade</label>
        </div>
      </div>
      <div class="row">
        <button class="btn-large">Buscar</button>

      </div>
    </form>
  </div>

</div>
